:root {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 3em);
  grid-template-rows: repeat(8, 3em);
  padding: 0.25em;
  border: solid salmon 0.125em;
  margin: 0.25em;
}

.grid > div {
  padding: 5%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid > div:hover {
  z-index: 3;
  outline: solid salmon;
}

.grid div {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  text-align: right;
}

.grid > div > div {
  font-size: 70%;
}

.grid > div > div:first-child {
  color: white;
}
